body {
    padding: 0;
    margin: 0;
}

.content{
    width: 900px;
    padding: 30px;
    margin: auto;
    border-radius: 4px ;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000000;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: white;
}


.contenido{
    width: 90%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
}

.contenido-2{
    width: 90%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
    margin-left: 45px;
    display: none;
}

.boton{
    width: 30%;
    height: 40%;
    margin: 20px;
    background-color: #000000;
    color: white;
    padding: 12px;
    font-size: 16px;
}

.boton:hover{
    transform: translate(0rem, 0.1rem);
    transition: all 0.5s ease-in-out;
}

h1{
    margin-bottom: 10px;
    color: black;
}

.labels{
    color: black;
    margin-left: 5%;
    float: left;
}

.labels-2{
    color: black;
    margin-left: 5%;
    float: left;
    display: none;
}

form{
    margin-top: 100px;
    background-color: #3880cc;
}