{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/resumen.css' %}">
{% endblock css %}

{% block contenido %}

    <section class="content">
        <h1>Resumen</h1>

        <h3>---------------------------------------------------------------------</h3>

        <h4>Datos generales</h4>
        <h3>nombre Medico: {{data.nombre_medico}}</h3>
        <h3>Especialidad: {{data.especialidad_medico}}</h3>
        <h3>Fecha: {{data.fecha_consulta}}</h3>
        <h3>Hora: {{data.hora_consulta}}</h3>

        <h4>Datos generales paciente</h4>
        <h3>Nombre paciente: {{data.nombre_paciente}}</h3>
        <h3>Rut: {{data.rut_paciente}}</h3>

        <img src="{% static 'imagenes/qr.png'%}" width="200px" />
        <h6>scanea y descarga</h6>

    </section>

{% endblock contenido %}