body {
    padding: 0;
    margin: 0;
}

.content{
    width: 1000px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px ;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000000;
    padding: 0px;
    text-align: center;
    background-color: white;
}

.contenido{
    width: 20%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
}

.lRut{
    width: 30%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
}

.boton{
    width: 15%;
    height: 20%;
    margin: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 10px;
}

.boton2{
    width: 15%;
    background-color: black;
    color: white;
    font-size: 10px;
}


.espe{
    display: none;
    margin: 0%;
    border: 0%;
    padding: 0%;
}


.boton:hover{
    transform: translate(0rem, 0.1rem);
    transition: all 0.5s ease-in-out;
}

h1{
    margin-bottom: 10px;
    color: black;
}

.labels{
    color: black;
    margin-left: 5%;
    float: left;
}

.eliminar{
    text-align: center;
    color: black;
    text-decoration: none;
}

.Modificar{
    text-align: center;
    color: black;
    text-decoration: none;
}

td a{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.ruta{
    background-color: white;
    color: black;
}

h4{
    background-color: white;
}

.listar{
    width: 100%;
    margin-bottom: 5% ;
    text-align: center;
    box-shadow: 3px 8px 19px #000000;
    background-color: white;
}

h1{
    background-color: white;
}

p{
    background-color: white;
}

.derecha{
    width: 300px;
    float: left;
    margin-left: 100px;
    background-color: white;
}


form{
    background-color: #3880cc;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr{
    border: solid 3px black;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

select{
    background-color: white;
    color: black;
}