body {
    padding: 0;
    margin: 0;
}

.content {
    width: 900px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000000;
    padding: 0px;
    text-align: center;
    border-radius: 20px;
    background-color: beige;
}

.contenido {
    width: 90%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
}

.boton {
    width: 30%;
    height: 40%;
    margin: 20px;
    background-color: #000000;
    color: white;
    padding: 12px;
    font-size: 16px;
}

.boton:hover {
    transform: translate(0rem, 0.1rem);
    transition: all 0.5s ease-in-out;
}

form {
    margin-top: 10px;
    background-color: #3880cc;
}

.contenido-2 {
    width: 90%;
    margin-bottom: 20px;
    height: 20px;
    background-color: white;
}

.boton:hover {
    transform: translate(0rem, 0.1rem);
    transition: all 0.5s ease-in-out;
}

h1 {
    color: black;
    background-color: beige;
}

.labels {
    color: black;
    margin-left: 5%;
    margin-right: 50px;
    float: left;
    background-color: beige;
}

.labels-2 {
    color: black;
    float: left;
    background-color: beige;
}

.espe{
    margin-right: 400px;
}


h1 {
    margin-bottom: 10px;
    color: black;
}

.labels {
    color: black;
    margin-left: 5%;
    float: left;
}

select{
    background-color: white;
    width: 90%;
    margin-bottom: 20px;
}