{% extends "base.html" %}
{% load static %}

{% block css %}





{% endblock css %}

{% block contenido %}
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-sm-12 col-md-12 col-lg-12 cot-xl-12">
            <div class="mb-2" style="text-align: right;">
            </div>
            <div class="table-responsive">
                <table id="datatable-responsive" class="table table-striped table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Precio</th>
                        </tr>
                        <!-- Fila de Selects para Filtrar -->
                        <tr id="filterRow">
                            <th></th> <!-- Celda vacía para la columna ID -->
                            <th></th> <!-- Celda vacía para la columna Nombre -->
                            <th></th> <!-- Celda vacía para la columna Precio -->
                        </tr>
                    
                        <!-- Fila de Encabezado de la Tabla -->
                        
                    </thead>
                    <tbody id="table_body_clientes">

                    </tbody>
                </table>
                
            </div>
            
        </div>

    </div>


</div>




{% endblock contenido %}

{% block script %}




<script src="{% static 'js/datatable/listado.js' %}"></script>







{% endblock script %}
