{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/modificacion-cola.css' %}">
{% endblock css %}

{% block contenido %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="container text-center ">
        <div class="margen">
            <h2>Formulario modificacion colaborador</h2>
            <div class="row">
                <div class="mb-3">
                    <label for="Rut" class="form-label">Rut del colaborador</label>
                    <input type="text" class="form-control" id="rut" type="text" name="rut" placeholder="rut" value="{{usuario.rut_usuario}}" disabled>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre y apellido</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre | Apellido">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="******">
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Repetir contraseña</label>
                    <input type="password" class="form-control" id="password2" placeholder="******">
                </div>

                

                {% if usuario.id_tipo == '2'  %}

                <div class="mb-3">
                    <label for="espe" class="form-label" id="espe-l">Especialidad</label>
                    <select class="dropdown" name="espe" id="espe">
                        <option value="0" selected>Especialidad</option>
                        <option value="1">Pediatria</option>
                        <option value="2">Neurologia</option>
                    </select>
                </div>
                {% endif %}

                <button style="width: 30%; " type="submit" class="btn btn-dark" onclick="validar()">Enviar</button>
            </div>
        </div>
    </div>
</form>

{% endblock contenido %}


{% block script %}
<script src="{% static 'js/modcolab.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock script %}