{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/modificacion-cola.css' %}">
{% endblock css %}

{% block contenido %}
    
    <div class="container text-center ">
        <div class="margen">
            <form method="post" enctype="multipart/form-data">
                <h2>Registro horario medico</h2>
                {% csrf_token %}
                <input type="file" name="archivo" accept=".xlsx">
                <button type="submit">Enviar</button>
            </form>
            </div>
        </div>
    </div>

{% endblock contenido %}


{% block script %}
<script src="{% static 'js/modcolab.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock script %}
