{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">

    {% block css %}

    {% endblock css %}

    <title>Inicio</title>
</head>

<body>
    <div class="general">

        <!-- navbar -->
        <div class="topnav" id="myTopnav">
            <a href="{% url 'inicio' %}" class="active">Inicio</a>
            <!-- <a href="#">{{user.username}}: cerrar sesion</a> -->
            <a href="{% url 'login' %}">Iniciar Sesion</a>
            <a href="{% url 'register' %}">Registro</a>
            <a href="{% url 'listado' %}">Usuarios</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>

            {% block contenido %}

            {% endblock contenido %}

        <!-- footer -->
        <footer>
            <div class="footer">
                <p>Dirijete a cualquiera de nuestras redes sociales</p>
            </div>

        </footer>

    </div>
    {% block script %}

    {% endblock script %}
</body>

</html>