{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'listado.css' %}">
{% endblock css %}

{% block contenido %}
    <form action="" method="POST">
        {% csrf_token %}
        <section class="content">
            
            <h1>Eliminacion</h1>

            <h3>seguro que desea eliminar a usuario rut: {{id}}</h3>

            <input class="boton" type="submit" value="Eliminar">
            <input class="boton" type="submit" value="Cancelar">
        </section>
    </form>
{% endblock contenido %}
