{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block contenido %}
    <form action="" method="POST">
        {% csrf_token %}
        <section class="content">
            
            
            <h1>Eliminacion de horario</h1>
            <br>
            <h3>Ingrese la observacion para la eliminacion</h3>
            <label class="labels" >observacion </label>
            <input class="contenido" type="text" name="observacion" id="observacion" placeholder="observacion">

            <h3>Seguro que desea tomar la hora: </h3>

            <input class="boton" type="submit" value="Aceptar">
            {% comment %} <a class="boton" href="{% url 'listado'%}" role="button">Aceptar</a> {% endcomment %}


            

            {% comment %} <input class="boton" type="submit" value="Cancelar"> {% endcomment %}
        </section>
    </form>
{% endblock contenido %}
