{% extends "base.html" %}
{% load static %}

{% block css %}
    {% comment %} <link rel="stylesheet" href="{% static 'listado.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock css %}

{% block contenido %}

<script src="{% static 'listado.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    {% if messages  %}
    <ul class="messages mensaje-box">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    

{% endblock contenido %}

{% block script %}

<script src="{% static 'js/base.js' %}"></script>

{% endblock script %}