<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Inicio</title>
</head>
<body>
    <div class="general">

        <!-- navbar -->
        <div class="topnav" id="myTopnav">
            <a href="#" class="active">Inicio</a>

            <a href="#">Horarios</a>

            <!-- <a href="#">{{user.username}}: cerrar sesion</a> -->
            <a href="#">Mas cosas</a>

            <a href="#">Iniciar Sesion</a>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
        <div class="contenido">

        </div>
        <!-- footer -->
        <footer>
            <div class="footer">
            <p>Dirijete a cualquiera de nuestras redes sociales</p>
            <a href="#"><img src="{% static 'myapp/'%}imagenes/facebook.png" width="30px" /></a>
            <a href="#"><img src="{% static 'myapp/'%}imagenes/gorjeo.png" width="30px" /></a>
            <a href="#"><img src="{% static 'myapp/'%}imagenes/whatsapp.png" width="30px" /></a>
            <a href="#"><img src="{% static 'myapp/'%}imagenes/instagram.png" width="30px" /></a>
            </div>
        </footer>

    </div>
</body>
</html>