{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'listado.css' %}">
{% endblock css %}

{% block contenido %}
    {% if messages  %}
    <ul class="messages mensaje-box">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<form action="" method="get">
    <div class="content">
        <h1 class="titulo">Listado de usuarios</h1>
        <p>Filtro:</p>
        <select name="tipoUsuario" id="tipo" class="tipo">
            <option value="">Tipo Usuario</option> {# Eliminar el valor seleccionado #}
            <option value="1">Administrador</option>
            <option value="2">Médicos</option> {# Usar valores que coincidan con los filtros en la vista #}
            <option value="3">Pacientes</option>
        </select>

        <select name="idEspecialidad" id="espe" class="espe">
            <option value="" selected>Especialidad</option>
            <option value="1">PEDIATRIA</option>
            <option value="2">NEUROLOGIA</option>
        </select>
        <input type="submit" value="Filtrar">

        <section class="listar">
                <h4>Lista de Usuarios</h4>
                <table>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Tipo usuario</th>
                            <th>Especialidad</th>
                        </tr>
                    
                        
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.rut }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.tipo_usuario.nombre_tipo }}</td>
                            <td>{{ usuario.especialidad.nombre_especialidad }}</td>
                            <td>{{ usuario.habilitado }}</td>
                            <td><a href="modificarusuario/{{ usuario.rut }}" role="button">Modificar</a></td>
                            <td><a href="eliminar/{{ usuario.rut }}" role="button">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                        
                </table>
                <a class="Modificar" href="#"><input class="boton" type="submit" value="Modificar"></a>
                <a class="Modificar" href="#"><input class="boton" type="submit" value="Eliminar"></a>
        </section>

    </div>
</form>


    <ul>
        
    </ul>
{% endblock contenido %}

{% block script %}
<script src="{% static 'listado.js' %}"></script>
{% endblock script %}