{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'listado.css' %}">
{% endblock css %}

{% block contenido %}
    {% if messages  %}
    <ul class="messages mensaje-box">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<form action="" method="get">
    <div class="content">
        <h1>Listado de usuarios</h1>
        <div class="derecha">
            <p>Filtro:</p>
            <select name="tipoUsuario" id="tipo">
                <option value="" selected>tipo Usuario</option>
                <option value="1">Administrador</option>
                <option value="2">Medico</option>
                <option value="3">Paciente</option>
            </select>
            
            <select name="idEspecialidad" id="espe" class="espe">
                <option value="" selected>Especialidad</option>
                <option value="1">Pediatria</option>
                <option value="2">Neurologia</option>
            </select>

            <input class="boton2" type="submit" value="Filtrar">
        </div>


        <p>buscar:</p>
        <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut">

        <section class="listar">
                <h4>Lista de Usuarios</h4>
                <table>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Tipo usuario</th>
                            <th>Especialidad</th>
                        </tr>
                    
                        {% if diccionario.usuarios  %}
                            {% for usuario in diccionario.usuarios %}
                            <tr>
                                <td>{{ usuario.rut }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.tipo_usuario.nombre_tipo }}</td>
                                <td>{{ usuario.especialidad.nombre_especialidad }}</td>
                                <td>{{ usuario.habilitado }}</td>
                                <td><a href="modifiColab/{{ usuario.rut }}" role="button">Modificar</a></td>
                                <td><a href="eliminar/{{ usuario.rut }}" role="button">Eliminar</a></td>
                            </tr>
                            {% endfor %}
                        {% endif %}

                        {% if diccionario.usuariob  %}
                            <tr>
                                <td>{{ diccionario.usuariob.rut }}</td>
                                <td>{{ diccionario.usuariob.nombre }}</td>
                                <td>{{ diccionario.usuariob.tipo_usuario.nombre_tipo }}</td>
                                <td>{{ diccionario.usuariob.especialidad.nombre_especialidad }}</td>
                                <td>{{ diccionario.usuariob.habilitado }}</td>
                                <td><a href="modifiColab/{{ usuario.rut }}" role="button">Modificar</a></td>
                                <td><a href="eliminar/{{ usuario.rut }}" role="button">Eliminar</a></td>
                            </tr>
                        {% endif %}
                        
                </table>
        </section>

    </div>
</form>


    <ul>
        
    </ul>
{% endblock contenido %}

{% block script %}
<script src="{% static 'listado.js' %}"></script>
{% endblock script %}