{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/listado.css' %}">
{% endblock css %}

{% block contenido %}
{% if messages  %}
    <ul class="messages mensaje-box">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="content">
        <h1>Horario del medico: {{datos.nombre}}</h1>
        <div class="derecha">
            {% comment %} <p>Filtro:</p>
            <label class="labels">Rut:</label>
            <input class="lRut" type="text" name="Rut" id="Rut" placeholder="Rut">
    
            <input class="boton2" type="submit" value="Buscar"> {% endcomment %}
        </div>

        <table>
            <p>RUT del Médico: {{ datos.rut }}</p>
            <p>Especialidad: {{ datos.especialidad.nombre_especialidad }}</p>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Disponible</th>
            </tr>
            {% for hora in datos.horario_medico %}
                <tr>
                    <td>{{ hora.fecha }}</td>
                    <td>{{ hora.horario.hora_bloque }}</td>
                    <td>
                        {% if hora.disponible %}
                            Disponible
                        {% else %}
                            No Disponible
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    
        
    </div>


{% endblock contenido %}

{% block script %}
    <script src="{% static 'js/base.js' %}"></script>
{% endblock script %}
