<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>agregar</title>
</head>
<body>
    <form action="" method="post">
        <section class="general">
            <h1>Inicio de sesion</h1>
            <label class="labels">Rut &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut">
            <label class="labels">Password</label>
            <input class="contenido" type="Password" name="Password" id="Password">

            <input class="boton" type="submit" value="Iniciar">
        </section>
    </form>
</body>
</html>