{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block contenido %}
    {% if messages  %}
            <ul class="messages mensaje-box">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <!-- {% comment %} <form action="" method="post">
        {% csrf_token %}
        <section class="content">
            <h1>Inicio de sesion</h1>
            <label class="labels">Rut &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut">
            <label class="labels">Password</label>
            <input class="contenido" type="Password" name="Password" id="Password">

            <input class="boton" type="submit" value="Iniciar">
        </section>
    </form> {% endcomment %} -->

    <form action="" method="post">
        {% csrf_token %}
        <div class="container text-center ">
            <div class="margen">
                <h2>Inicia sesion</h2>
                <div class="row">
                    <div class="mb-3">
                        <label for="Rut" class="form-label">Ingresar rut</label>
                        <input type="text" class="form-control" id="rut" name="rut" aria-describedby="emailHelp" placeholder="11111111-1">
                        <div id="emailHelp" class="form-text">Ingresar rut sin puntos</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="*******">
                    </div>
                    <button style="width: 30%; " type="submit" class="btn btn-dark">Enviar</button>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido %}
