{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'modificacion-cola.css' %}">
{% endblock css %}

{% block contenido %}

<div id="tipo" data-mi-valor="{{ usuario.tipo_usuario.id }}"></div>
<form action="" method="post" id="registro-form">
    {% csrf_token %}
    <section class="content">
        <h1>Formulario modificacion colaborador</h1>
        <label class="labels">Rut del colaborador</label>
        <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut" value="{{usuario.rut}}" disabled>
        <label class="labels">Nombre del colaborador</label>
        <input class="contenido" type="text" name="Nombre" id="Nombre" placeholder="Nombre" value="{{usuario.nombre}}" >

        <label class="labels">Tipo Colaborador</label>
        <input class="contenido" type="text" name="ntipo" id="ntipo" value= "{{usuario.tipo_usuario.nombre_tipo}}" disabled>

        <select name="idEspecialidad" id="espe" class="espe">
            <option value="" selected>Especialidad</option>
            <option value="1" {% if usuario.especialidad.id_especialidad == 1 %}selected{% endif %}>Pediatria</option>
            <option value="2" {% if usuario.especialidad.id_especialidad == 2 %}selected{% endif %}>Neurologia</option>
        </select>

        <label class="labels">Contraseña</label>
        <input class="contenido" type="Password" name="Password" id="Password" placeholder="**********">
        <label class="labels">Repetir Contraseña</label>
        <input class="contenido" type="Password" name="password2" id="password2" placeholder="**********">

        <input class="boton" type="submit" value="Guardar">
    </section>
</form>
{% endblock contenido %}


{% block script %}
<script src="{% static 'modcolab.js' %}"></script>
<script src="{% static 'password.js' %}"></script>
{% endblock script %}