{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block contenido %}
{% if messages %}
<ul class="messages mensaje-box">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form action="" method="POST" id="registro-form">
    {% csrf_token %}
    <div class="container text-center ">
        <div class="margen">
            <h2>Formulario de usuario</h2>
            <div class="row">
                <div class="mb-3">
                    <label for="Rut" class="form-label">Rut del colaborador</label>
                    <input type="text" class="form-control" id="rut" type="text" name="rut" placeholder="rut">
                </div>
                <div class="mb-3">
                    <label for="NombreApellido" class="form-label">Nombre y apellido</label>
                    <input type="text" class="form-control" id="nombreApellido" name="nombreApellido" placeholder="Nombre | Apellido">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name = "password" placeholder="******">
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Repetir contraseña</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="******">
                </div>


                <button style="width: 30%; " type="submit" class="btn btn-dark" onclick="validar()">Enviar</button>
            </div>
        </div>
    </div>
</form>



{% endblock contenido %}

{% block script %}
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock script %}