<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>registro</title>
</head>
<body>
    <form action="" method="post">
        <section class="general">
            <h1>Formulario registro</h1>
            <label class="labels">Rut del usuario</label>
            <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut">
            <label class="labels">Nombre del usuario</label>
            <input class="contenido" type="text" name="Nombre" id="Nombre" placeholder="Nombre">
            <label class="labels">Password del usuario</label>
            <input class="contenido" type="password" name="password" id="password" placeholder="password">

            <input class="boton" type="submit" value="Guardar">
        </section>
    </form>
</body>
</html>