{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block contenido %}
    {% if messages  %}
        <ul class="messages mensaje-box">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="post" id="registro-form">
        {% csrf_token %}
        <section class="content">
            <h1>Formulario registro</h1>
            <label class="labels">Rut usuario</label>
            <input class="contenido" type="text" name="Rut" id="Rut" placeholder="Rut">
            <label class="labels">Nombre completo</label>
            <input class="contenido" type="text" name="Nombre" id="Nombre" placeholder="Nombre">
            <label class="labels">Contraseña</label>
            <input class="contenido" type="Password" name="Password" id="Password" placeholder="**********">
            <label class="labels">Repetir Contraseña</label>
            <input class="contenido" type="Password" name="password2" id="password2" placeholder="**********">

            <input class="boton" type="submit" value="Guardar">
        </section>
    </form>

{% endblock contenido %}

{% block script %}
<script src="{% static 'js/password.js' %}"></script>
{% endblock script %}