{% extends "base.html" %}
{% load static %}

{% block css %}     
<link rel="stylesheet" type="text/css" href="{% static 'css/toma-fecha.css' %}" />
{% endblock css %}

{% block contenido %}
<form action="" method="post">
    {% csrf_token %}
    <section class="content">
        <h1>Toma de atencion</h1>
        <table>
            <thead>
                <tr>
                    <th>Hora Bloque</th>
                    <th>Nombre</th>
                    <th>RUT</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                    <tr>
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.hora_bloque }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.rut }}</td>
                        {% comment %} <td><a class="ruta" href="{% url 'resumen'  diccionario.usuariob.rut  diccionario.usuariob.habilitado %}" role="button">Tomar Hora</a></td> {% endcomment %}

                        <td>
                            <a class="ruta" href="{% url 'confirmaciontoma' item %}" role="button">Tomar Hora</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</form>
{% endblock contenido %}